/*Color scheme
:root {
}/*

/*
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}
*/