@media only screen and (min-width: 1080px) {
    /* HERO */

    .hero img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: -1;
    }

    .hero div {
        margin: 40vh 40vw 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero div h1 {
        color: white;
        font-size: 8em;
        line-height: 0.5em;
        text-align: center;
    }

    .hero div h1 span {
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 600;
        font-size: 0.4em;
    }

    .hero div a {
        background-color: transparent;
        color: white;
        border: 4px solid white;
        border-radius: 20px;
        padding: 10px 65px;
        margin: 5vh 0 0 0;
        cursor: pointer;
        text-decoration: none;
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 700;
        font-size: 1.5em;
        transition: border-color 0.2s, color 0.2s;
    }

    .hero div a:hover {
        border-color: var(--primary);
        color: var(--primary);
    }

    .hero button {
        position: absolute;
        padding: 40px;
        right: 28vw;
        top: 70vh;
        cursor: pointer;
        background-color: transparent;
    }

    /* NAV */

    nav {
        background-color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 25px;
        margin: 35.3vh 0 0 0;
    }

    nav a {
        color: white;
        font-weight: 700;
        font-size: 1.8em;
        text-decoration: none;
    }

    nav a:hover,
    nav a:focus {
        text-decoration: underline;
    }

    /* INFORMATIONAL PANELS */

    .panel {
        padding: 12vh 10vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .panel h1 {
        line-height: 1.5em;
    }

    .panel img {
        width: 38vw;
        height: auto;
        padding-left: 8vw;
        transition: transform 0.5s;
    }

    .panel img:hover,
    .panel img:focus {
        transform: scale(1.05);
    }

    .panel img:nth-child(1) {
        padding-left: 0;
        padding-right: 8vw;
    }

    /* FOOTER */

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3vh;
        background-color: var(--primary);
        color: white;
    }
}

@media only screen and (max-width: 1800px) {
    nav {
        margin-top: 26.2vh;
    }
}

@media only screen and (max-width: 475px) {

    .wrapper {
        overflow-x: hidden;
        overflow-x: hidden !important;
        position: relative;
        width: 100%;
    }

    /* HERO */

    .hero img {
        position: absolute;
        width: auto;
        height: 100vh;
        z-index: -1;
        top: 0;
        left: -210%;
    }

    .hero div {
        margin: 40vh 0px 0px 20px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero div h1 {
        color: white;
        font-size: 5em;
        line-height: 0.5em;
        text-align: center;
    }

    .hero div h1 span {
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 600;
        font-size: 0.4em;
    }

    .hero div a {
        background-color: transparent;
        color: white;
        border: 4px solid white;
        border-radius: 20px;
        padding: 10px 55px;
        margin: 5vh 0 0 0;
        cursor: pointer;
        text-decoration: none;
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 700;
        font-size: 1em;
        transition: border-color 0.2s, color 0.2s;
    }

    .hero button {
        display: none;
    }

    /* NAV */

    nav {
        background-color: var(--primary);
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 40px;
        margin: 38.5vh 0 0 0;
    }

    nav a {
        display: none;
    }

    /* INFORMATIONAL PANELS */

    .panel {
        padding: 5vh 0 0 10vw;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        text-wrap:balance;
    }

    .panel p {
        padding-top: 1vh;
        font-size: 1.2em;
    }

    .panel img {
        display: none;
    }

    /* FOOTER */

    footer {
        padding-top: 1vh;
        color: var(--background);
    }
}